/*style sheet for the Projects page*/

header {
  font-family: Playfair Display, Georgia, serif;
  font-size: 20px;
  margin-top: 45px;
  display: block;
}

h1 {text-align: center;}

h2 {
  font-family: Playfair Display, Georgia, serif;
  font-size: 30px;
}

h3 {
  font-family: Georgia, serif;
  font-size: 17.85px;
  font-weight: 700;
}

h4 {
  font-size: 18px;
  font-family: Lato, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
}

h4:after {
  content: '';
  display: block;
  width: 219px;
  border-bottom: 2px solid #008f8f;
}

nav {
  border-top-width: 1px;
  border-top-color: #ececec;
  border-top-style: solid;
  font-family: Playfair Display, Georgia, serif;
}

nav ul {
  text-align:center;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  margin: auto 10px;
  font-size: 17px;
}

nav ul li+li:before {
  content:'/';
  margin-right:20px;
  color:#6d6d6d;
}

nav ul li a {
  color: #6e6e6e;
  text-decoration: none;
}

nav ul li a:hover {
  color:#008f8f;
}

#banner img {
  height: 304px;
  width: 1356px;
}

section {
  width: 629px;
  height: 665px;
  padding-bottom: 190px;
  margin: 50;
  float: left;
  text-align: justify;

}

section p {
  font-family: Georgia, serif;
  line-height: 1.5
}

section a {
  color: #008f8f;
  text-decoration: none;
}

section a:hover {
  text-decoration: underline;
}

#page-wrap {
  margin-left: 134.5px;
  margin-right: 134.5px;
  padding-top: 60px;
  padding-bottom: 60px;
}

aside {
  float: right;
  margin-right: 20px;
  width: 27%;
  font-family: Lato, Helvetica, sans-serif;
  font-size: 16px;
  text-align:justify;
}


footer {
  clear: both;
  color: #999999;
  font-family: Playfair Display, Georgia, serif;
  text-align:center;
  margin-bottom:45px;
}

#rights {
  clear: both;
  width: 571px;
  display: block;
  text-align: justify;
  color: #999999;
  margin: 0 auto;
  padding-bottom: 15px;
}