/*style sheet for the homepage*/

header {
  font-family: Playfair Display, Georgia, serif;
  margin-top: 45px;
  text-align: center;
  display: block;
}

nav {
  border-top-width: 1px;
  border-top-color: #ececec;
  border-top-style: solid;
  font-family: Playfair Display, Georgia, serif;
}

nav ul {
  text-align:center;
}

nav ul li {
  list-style-type: none;
  display:inline-block;
  margin: auto 10px;
  font-size: 17px;
}

nav ul li a {
  color: #6e6e6e;
  text-decoration: none;
}