/*style sheet for the contact page*/

body {
  margin: 0 auto;
}

header {
  font-family: Playfair Display, Georgia, serif;
  font-size: 20px;
  margin-top: 45px;
  text-align: center;
  display: block;
}

header a {
  text-decoration: none;
  color: #111111;
}

header a:visted {
  color: #111111;
}

header a:hover {
  color: #008f8f;
}

nav {
  border-top-width: 1px;
  border-top-color: #ececec;
  border-top-style: solid;
  font-family: Playfair Display, Georgia, serif;
}

nav ul {
  text-align: center;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  margin: auto 10px;
  font-size: 17px;
}

nav ul li+li:before {
  content: '/';
  margin-right: 20px;
  color: #6d6d6d;
}

nav ul li a {
  color: #6e6e6e;
  text-decoration: none;
}

nav ul li a:hover {
  color:#008f8f;
}

#banner img {
  width: 100%;
  max-width: 2000px;
}

#page-wrap {
  margin-left: 134.5px;
  margin-right: 134.5px;
  padding-top: 60px;
  padding-bottom: 60px;
  float: left;
}

section {
  width: 400px;
  height: 665px;
  padding-bottom: 25px;
  margin: 50px;
  text-align: justify;
}

section p {
  font-family: Georgia, serif;
  line-height: 30px;
  font-size: 17.85px;
  font-weight: 100;
}

h2 {
  font-family: Playfair Display, Georgia, serif;
  font-size: 30px;
}

h3 {
  font-size: 18px;
  font-family: Lato, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
}

h3:after {
  content: '';
  display: block;
  width: 219px;
  border-bottom: 2px solid #008f8f;
}

form {
  padding-bottom: 100px;
}

form p {
  font-family: Lato, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 3px;
  line-height: 30px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.contact-input {
  width: 300px;
  background-color: #fafafa;
  padding-bottom: 10px;
  background-origin: padding-box;
  font-size: 18px;
  text-align: start;
  white-space: pre-wrap;
  font-family: Lato, Helvetica, sans-serif;
}

#big-box {
  padding-bottom: 120px;
}

#submit-button {
  font-size: 25px;
  text-transform: uppercase;
}

form button {
  font-size: 18px
  background-color: #111111;
}


aside {
  float: right;
  margin-right: 60px;
  width: 23%;
  font-family: Lato, Helvetica, sans-serif;
  font-size: 16px;
  text-align:justify;
  padding-top: 90px;
}

footer {
  clear: both;
  color: #999999;
  font-family: Playfair Display, Georgia, serif;
  text-align: center;
  padding-top: 150px;
  margin-bottom: 45px;
}